body {
    font: 100% Verdana, Lucida, Helvetica, Arial, sans-serif;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    color: #ffffff;
    background-color: #99bbdd;
    padding: 8px;
}
